<div class="body">
  <%= render "shared/header"%>
  <div class="note_show">
    <div class="note_info">
      <div class="date">
        <%=  @note.written_day%>
      </div>
      <div class="note_content">
        <div class="highlight_field">
          <p class="highlight_title">Highlight:</p>
          <p class="note_highlight"><%= @note.highlight %></p>
        </div>
        <div class="excerpt_field">
          <p class="excerpt_title">Excerpt:</p>
          <p class="note_excerpt"><%= @note.excerpt %></p>
        </div>
        <div class="body_field">
          <p class="note_body"><%= @note.body %></p>
        </div>
      </div>
    </div>
  </div>
</div>