<div class="body">
  <%= render "shared/header"%>
  <div class="note_show">
    <div class="note_info">
      <div class="note_show_header">
        <div class="date">
          <%=  @note.written_day%>
        </div>
        <% if user_signed_in? %>
          <div class="note_edit_btn">
            <%= link_to "編集する", edit_calendar_note_path(@selected_month, @note) %>
          </div>
        <% end %>
      </div>
      <div class="note_content">
        <div class="highlight_field">
          <p class="highlight_title">Highlight:</p>
          <p class="note_highlight"><%= @note.highlight %></p>
        </div>
        <div class="excerpt_field">
          <p class="excerpt_title">Excerpt:</p>
          <p class="note_excerpt"><%= @note.excerpt %></p>
        </div>
        <div class="tag_field">
          <% @note.tags.each do |tag| %>
            <p class="tag_item"><%= tag.tag_name %></p>
          <% end %>
        </div>
        <div class="body_field">
          <%= @note.body %>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-field">
    <%= link_to "戻る", calendar_path(@selected_month), class:"top-btn" %>
  </div>
</div>