<div class="wrapper">
<div class="user_account_side_bar">

</div>

  <div class="user_form_body">
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <h2 class="profile_main_title">プロフィール</h2>

    <div class="user_account_form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>
        <div class="user_avatar">
          <h1 class="profile_title">プロフィール写真</h1>
          <div class="user_avatar_field">
            <div id="preview_field">
              <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, id:"avatar_img" %>
              <% else %>
                <%= image_tag('avatar_icon.png', class: "sample_avatar_icon") unless @user.avatar.attached? %>
              <% end %>
            </div>
            <%= hidden_field_tag :img_check_is, true %>
            <div class="select_button">
              <div class="select">
                <div>写真の編集</div>
                <div class="select_arrow">&#9662;</div>
              </div>
              <ul class="select_list">
                <li id="avatar_upload_btn" class="select_item">アップロード</li>
                <li id="avatar_delete_btn" class="select_item">削除</li>
              </ul>
            </div>
          </div>
          <%= f.file_field :avatar, id:"avatar_input" %>
        </div>
        <div class="nickname_field">
          <h1 class="nickname_title">ニックネーム</h1>
          <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネーム" , autocomplete: "nickname", class: "field" %>
        </div>
        <div class="email_field">
          <h1 class="email_title">メールアドレス</h1>
          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", autocomplete: "email", class: "field"%>
        </div>
        <div class="password_field">
          <h1 class="password_title">パスワード</h1>
          <%= f.password_field :current_password, placeholder: "現在のパスワードを入力してください", autocomplete: "new-password", class: "field"%>
        </div>
        <div class="actions">
          <%= f.submit "変更を保存" , id:"submit_btn" %>
          <%= link_to "キャンセル", "#"%>
        </div>
      <% end %>
    </div>
  </div>

</div>