<header>
  <div class="study_note_title">
    <%= link_to root_path do %>
      <h1>Study Note</h1>
    <% end %>
  </div>
  <div class="search_field">
    <form id="search_form">
      <label for="search_input">
        <i class="fas fa-search"></i>
      </label>
      <input type="text" id="search_input">
    </form>
  </div>
  <div class="header_icon_field">
    <div class="search_icon">
      <i class="fas fa-search"></i>
    </div>
    <%= link_to  new_calendar_note_path(@selected_month) do %>
      <div class="pen_icon">
        <i class="fas fa-pencil-alt"></i>
      </div>
    <% end %>
  </div>
  <div class="account">
    <%= link_to edit_user_registration_path, class:"account_link" do %>
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class:"user_avatar" %>
      <% else %>
        <%= image_tag "avatar_icon.png", id:"header_avatar_img", class:"user_avatar" %>
      <% end %>
      <p class="user_nickname"><%= current_user.nickname %></p>
    <% end %>
  </div>
</header>