<div class="wrapper">
  <div class="form_body">
    <div class="form_title">
      <h2 class="registration_title">Study Note</h2>
    </div>

    <div class="google_auth">
      <%= link_to 'Googleでログインする', user_google_oauth2_omniauth_authorize_path %>
    </div>

    <hr>

    <div class="user_form">
      <%= form_for(resource, as: resource_name, url: user_session_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>

          <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", autocomplete: "email", class: "field"%>

          <%= f.password_field :password, placeholder: "パスワード", autocomplete: "new-password", class: "field"%>

        <div class="actions">
          <%= f.submit "ログイン" , id:"submit_btn" %>
        </div>
      <% end %>
    </div>

    <div class="sign_up">
      <p>アカウントはお持ちでないですか？</p>
      <%= link_to '登録', new_user_registration_path, class:"registration_btn" %>
    </div>
  </div>
</div>